<div class="center hero-unit">
  <h1>Welcome to the Blog website</h1>

  <h2>
    this website helps you connect with friends all over the localhost
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> 
</div>