<li>
  <span class="title"><%= entry.title %></span>
  <span class="body"><%= entry.body %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago at <%= entry.created_at.to_date %>.
  </span>
  
</li>